[submodule "src/font_rendering"]
	path = src/font_rendering
	url = git@github.com:cpp-toolbox/font_rendering.git
[submodule "src/shader_pipeline"]
	path = src/shader_pipeline
	url = git@github.com:cpp-toolbox/shader_pipeline.git
[submodule "src/window"]
	path = src/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
